* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
  
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px; /* Size of the grid */
    height: 640px;
  }
  
.square {
    background-color: #000000;
    border: 1px solid #534b4b;
    flex: 0 0 calc(640px / 16); /* 1/16th of the container’s width */
    height: calc(640px / 16); /* 1/16th of the container’s height */
    box-sizing: border-box; 
}
  
.square:hover {
    background-color: #ffffff; /* Changes color on hover */
}

button{
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column; /* Stack the button and grid vertically */
    flex-wrap: wrap;
    align-items: center;
    width: 100%; /* Take full width */
    margin-top: 20px; /* Add some space from the top */
}